<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    {{>header}}
     <p style="display: inline-block;">This is created by shaswat.It uses data from matchbox and weather stack</p>
    <img src="/img/robot.png">
        <p>details for {{name}} </p>
    
</body>

</html>